.checkbox-wrapper {
    display: flex;
    align-items: center;
    border: 2px solid #613233;
    width: max-content;
    border-radius: 50%;
    padding: 3px;
}

.checkbox-wrapper input[type="checkbox"] {
    display: none;
}

.checkbox-wrapper label {
    display: inline-block;
    width: 18px;
    
    height: 18px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.checkbox-wrapper label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 35%;
    width: 8px;
    height: 11px;
    border: 2px solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translate(-50%, -50%);
    opacity: 0;
}

.checkbox-wrapper input[type="checkbox"]:checked + label {
    background-color: #65382d; 
}

.checkbox-wrapper input[type="checkbox"]:checked + label::after {
    opacity: 1;
}